@section Scripts
{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDE-cJNq9CyHprNdBtww_wzdVB-yblzHDI&libraries=places"></script>
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/weather-icons.min.css" />
    <link rel="stylesheet" href="~/css/weather-icons-wind.min.css" />

}
@model WeatherInformation

@{
    ViewData["Title"] = "Weather";
}

<div class="text-center container">

    <div class="blur background"></div>
    <p class="heading">Today's Forecast</p>
    <form class="container-search" asp-controller="Home" asp-action="CitySearch" method="post">
        <input type="hidden" id=city name="city" value="" />
        <input type="hidden" id=country name="country" value="" />

        <div class="search-box">
            <input class="search-input" id="city-search" type="text" placeholder="Search for a city" >
            <button class="search-button" type="submit" onmouseover="open_search()">
                <i class="material-icons" >search</i>
            </button>
        </div>

    </form>

    <div class="weather-info">

        @{
            if (Model == null)
            {
                @section BackgroundImage {
                    <style type="text/css">
                    .background:after {
                        content: "";
                        background: url(@Url.Content("~/image/weather/error.jpg")) no-repeat center center fixed;
                        background-size: cover;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        position: absolute;
                        z-index: -1;
                    }
                    </style>
                }
                <p>Something went wrong</p>
                <p>Try a different location</p>
            }
            else
            {
                <p class="location_title">@Model.name, @Model.sys.country</p>
                <p>Temperature: @Model.main.temp &#8451;</p>
                <p>@Model.weather[0].description</p>
                <i class="wi wi-fw" id="weather_icon"></i>
            }
        }
    </div>
</div>

<script>
    let autocomplete;

    let input = document.querySelector("#city-search");
    window.onload = () => {
        autocomplete = new google.maps.places.Autocomplete(input, { type: ['cities']});

        autocomplete.addListener('place_changed', () => {
            let place = autocomplete.getPlace();
            if (!place.geometry) {
                window.alert("No details available for input: '" + place.name + "'");
                return;
            }
            let location = place.address_components;

            document.getElementById("city").value = location[0].long_name;
            document.getElementById("country").value = location[location.length - 1].short_name;


        })
    }

    function open_search() {
        element = document.querySelector(".search-input");
        element.style.width = "350px";
        element.style.padding = "0 10px";
    }
</script>


@{
    if (Model != null)
    {
        switch (Model.weather[0].main)
        {
            case "Thunderstorm":
                @section BackgroundImage {
                    <style type="text/css">
                    .background:after {
                        content: "";
                        background: url(@Url.Content("~/image/weather/thunderstorm.jpg")) no-repeat center center fixed;
                        background-size: cover;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        position: absolute;
                        z-index: -1;
                    }
                    </style>
                }
                @section WeatherIcon {
                    <script>
                        document.querySelector("#weather_icon").classList.add("wi-thunderstorm");
                    </script>
                }
                break;
            case "Drizzle":
                @section BackgroundImage {
                    <style type="text/css">
                    .background:after {
                        content: "";
                        background: url(@Url.Content("~/image/weather/drizzle.jpg")) no-repeat center center fixed;
                        background-size: cover;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        position: absolute;
                        z-index: -1;
                    }
                    </style>
                }
                @section WeatherIcon {
                    <script>
                        document.querySelector("#weather_icon").classList.add("wi-showers");
                    </script>
                }
                break;
            case "Rain":
                @section BackgroundImage {
                    <style type="text/css">
                    .background:after {
                        content: "";
                        background: url(@Url.Content("~/image/weather/rain.jpg")) no-repeat center center fixed;
                        background-size: cover;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        position: absolute;
                        z-index: -1;
                    }
                    </style>
                }
                @section WeatherIcon {
                    <script>
                        document.querySelector("#weather_icon").classList.add("wi-rain");
                    </script>
                }
                break;
            case "Snow":
                @section BackgroundImage {
                    <style type="text/css">
                    .background:after {
                        content: "";
                        background: url(@Url.Content("~/image/weather/snow.jpg")) no-repeat center center fixed;
                        background-size: cover;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        position: absolute;
                        z-index: -1;
                    }
                    </style>
                }
                @section WeatherIcon {
                    <script>
                        document.querySelector("#weather_icon").classList.add("wi-snow");
                    </script>
                }
                break;
            case "Clear":
                @section BackgroundImage {
                    <style type="text/css">
                     .background:after {
                        content: "";
                        background: url(@Url.Content("~/image/weather/clear.jpg")) no-repeat center center fixed;
                        background-size: cover;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        position: absolute;
                        z-index: -1;
                    }
                    </style>
                }
                @section WeatherIcon {
                    <script>
                        document.querySelector("#weather_icon").classList.add("wi-day-sunny");
                    </script>
                }
                break;
            case "Clouds":

                @section BackgroundImage {
                    <style type="text/css">
                    .background:after {
                        content: "";
                        background: url(@Url.Content("~/image/weather/clouds.jpg")) no-repeat center center fixed;
                        background-size: cover;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        position: absolute;
                        z-index: -1;
                    }
                    </style>
                }
                @section WeatherIcon {
                    <script>
                        document.querySelector("#weather_icon").classList.add("wi-cloudy");
                    </script>
                }
                break;
            case "Mist":
                @section BackgroundImage {
                    <style type="text/css">
                    .background:after {
                        content: "";
                        background: url(@Url.Content("~/image/weather/mist.jpg")) no-repeat center center fixed;
                        background-size: cover;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        position: absolute;
                        z-index: -1;
                    }
                    </style>
                }
                @section WeatherIcon {
                    <script>
                        document.querySelector("#weather_icon").classList.add("wi-fog");
                    </script>
                }
                break;
            case "Smoke":
                @section BackgroundImage {
                    <style type="text/css">
                    .background:after {
                        content: "";
                        background: url(@Url.Content("~/image/weather/smoke.jpg")) no-repeat center center fixed;
                        background-size: cover;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        position: absolute;
                        z-index: -1;
                    }
                    </style>
                }
                @section WeatherIcon {
                    <script>
                        document.querySelector("#weather_icon").classList.add("wi-smoke");
                    </script>
                }
                break;
            case "Haze":
                @section BackgroundImage {
                    <style type="text/css">
                    .background:after {
                        content: "";
                        background: url(@Url.Content("~/image/weather/haze.jpg")) no-repeat center center fixed;
                        background-size: cover;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        position: absolute;
                        z-index: -1;
                    }
                    </style>
                }
                @section WeatherIcon {
                    <script>
                        document.querySelector("#weather_icon").classList.add("wi-fog");
                    </script>
                }
                break;
            case "Dust":
                @section BackgroundImage {
                    <style type="text/css">
                    .background:after {
                        content: "";
                        background: url(@Url.Content("~/image/weather/dust.jpg")) no-repeat center center fixed;
                        background-size: cover;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        position: absolute;
                        z-index: -1;
                    }
                    </style>
                }
                @section WeatherIcon {
                    <script>
                        document.querySelector("#weather_icon").classList.add("wi-dust");
                    </script>
                }
                break;
            case "Fog":
                @section BackgroundImage {
                    <style type="text/css">
                    .background:after {
                        content: "";
                        background: url(@Url.Content("~/image/weather/fog.jpg")) no-repeat center center fixed;
                        background-size: cover;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        position: absolute;
                        z-index: -1;
                    }
                    </style>
                }
                @section WeatherIcon {
                    <script>
                        document.querySelector("#weather_icon").classList.add("wi-fog");
                    </script>
                }
                break;
            case "Sand":
                @section BackgroundImage {
                    <style type="text/css">
                    .background:after {
                        content: "";
                        background: url(@Url.Content("~/image/weather/sand.jpg")) no-repeat center center fixed;
                        background-size: cover;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        position: absolute;
                        z-index: -1;
                    }
                    </style>
                }
                @section WeatherIcon {
                    <script>
                        document.querySelector("#weather_icon").classList.add("wi-sandstorm");
                    </script>
                }
                break;
            case "Ash":
                @section BackgroundImage {
                    <style type="text/css">
                    .background:after {
                        content: "";
                        background: url(@Url.Content("~/image/weather/ash.jpg")) no-repeat center center fixed;
                        background-size: cover;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        position: absolute;
                        z-index: -1;
                    }
                    </style>
                }
                @section WeatherIcon {
                    <script>
                        document.querySelector("#weather_icon").classList.add("wi-volcano");
                    </script>
                }
                break;
            case "Squall":
                @section BackgroundImage {
                    <style type="text/css">
                    .background:after {
                        content: "";
                        background: url(@Url.Content("~/image/weather/squall.jpg")) no-repeat center center fixed;
                        background-size: cover;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        position: absolute;
                        z-index: -1;
                    }
                    </style>
                }
                @section WeatherIcon {
                    <script>
                        document.querySelector("#weather_icon").classList.add("wi-thunderstorm");
                    </script>
                }
                break;
            case "Tornado":
                @section BackgroundImage {
                    <style type="text/css">
                    .background:after {
                        content: "";
                        background: url(@Url.Content("~/image/weather/tornado.jpg")) no-repeat center center fixed;
                        background-size: cover;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        position: absolute;
                        z-index: -1;
                    }
                    </style>
                }
                @section WeatherIcon {
                    <script>
                        document.querySelector("#weather_icon").classList.add("wi-tornado");
                    </script>
                }
                break;
            default:
                @section BackgroundImage {
                    <style type="text/css">
                    .background:after {
                        content: "";
                        background: url(@Url.Content("~/image/weather/default.jpg")) no-repeat center center fixed;
                        background-size: cover;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        position: absolute;
                        z-index: -1;
                    }

                    </style>
                }
                @section WeatherIcon {
                    <script>
                        document.querySelector("#weather_icon").classList.add("wi-na");
                    </script>
                }
                break;
        }
    }

}